.divform {
    padding-top: 66px;
    flex: 1 1 auto;
    margin-left: 362px;
}
.text-maxlength {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px;
    max-height: 36px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}